:root {
  --primary-color: rgb(69, 143, 157);
  --primary-color-dark: rgb(48, 97, 107);

  --secondary-color: rgb(230, 131, 121);
  --secondary-color-dark: rgb(239, 82, 100);
  --secondary-color-background: rgb(255, 242, 244);

  --default-font-family: "Poppins";
  --header-font-family: "Lora";
}

@media (min-width: 576px) {
  h1 {
    font-size: 90px;
  }

  .section-hr {
    margin: auto 80px;
  }

  .contact-page-heading {
    font-size: 70px;
  }
}

@media (max-width: 575.9px) {
  h1 {
    font-size: 60px;
  }

  .section-hr {
    margin: auto 40px;
  }

  .contact-page-heading {
    font-size: 55px;
  }
}

@media (min-width: 768px) {
  .story-icon {
    font-size: 80px;
  }
}

@media (max-width: 767.9px) {
  .story-icon {
    font-size: 60px;
  }
}

body {
  font-family: var(--default-font-family);
}

h1 {
  text-align: center;
  font-family: var(--header-font-family);
  font-weight: 400;
  font-style: italic;
  line-height: 1;
}

h2 {
  text-align: center;
  font-weight: 500;
  font-style: normal;
}

h3 {
  font-family: var(--header-font-family);
  font-weight: 400;
  font-style: italic;
}

p {
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}
img {
  border: 1.5px solid var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
}

.hero {
  background-color: var(--secondary-color-background);
  padding: 150px 10px 105px;
}

.primary-link-container {
  display: flex;
  justify-content: center;
}

.primary-link {
  background-color: var(--primary-color);
  text-align: center;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.primary-link:hover {
  background: linear-gradient(
    230deg,
    var(--primary-color-dark) 29%,
    var(--secondary-color-dark) 98%
  );
  transition: 0.4s ease-in-out;
}

.secondary-link {
  color: var(--secondary-color-dark);
}

.secondary-link i {
  color: var(--secondary-color-dark);
}

.secondary-link:hover {
  text-decoration: underline;
  transition: 0.4s ease-in-out;
}

.hero-hr {
  color: var(--secondary-color-dark);
}

.contact-icon {
  font-size: 60px;
  color: var(--secondary-color-dark);
}

.contact-link a {
  color: black;
  font-size: 14px;
}

.contact-link a:hover {
  text-decoration: underline;
}

.body {
  display: block;
  padding: 0 10px;
  margin: 0 auto;
  max-width: 800px;
}

.portrait-image {
  max-width: 250px;
  display: block;
  margin: 0 auto;
}

.story-icon {
  color: var(--primary-color-dark);
}

.story-card {
  background: var(--secondary-color-background);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
}

.section-hr {
  color: var(--primary-color);
  display: flex;
  justify-content: center;
}

.card {
  background-color: var(--secondary-color-background);
  border: 1.5px solid var(--primary-color);
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
}

.card img {
  border: none;
}

.enquiry-link {
  font-size: 30px;
  line-height: 30px;
}

.subtitle {
  font-size: 23px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  list-style: none;
  display: inline;
  margin-left: 10px;
  line-height: 50px;
}

.logo {
  line-height: 50px;
  font-size: 20px;
  text-align: start;
  display: inline;
  margin: 0;
}

nav a {
  color: black;
}

.active {
  color: var(--primary-color);
}

footer {
  background: var(--secondary-color-background);
  font-size: 14px;
}
